<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Django Nginx</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron">
      <h2>Django Nginx</h2>
    </div>

    <div class="container">
      <h3>Static file</h3>
      <p><img style="width:500px;height:500px;" src="{% static "currency.jpeg" %}"></p>
    </div>
  </body>
</html>
